{% extends 'base.html.twig' %}

{% block title %}Create{% endblock %}

{% block body %}
    <div class="form-container">
        <div class="form-card">
            <h1>Create</h1>

            {{ form_errors(createEventForm) }}

            {{ form_start(createEventForm) }}

            {{ form_widget(createEventForm) }}

            {{ form_end(createEventForm) }}
        </div>
    </div>
{% endblock %}
