{% extends 'base.html.twig' %}

{% block title %}Détail d'un évènement{% endblock %}

{% block body %}
    <div class="form-container">
        <div class="form-card">
            <h1>Modifier l'événement</h1>

            {{ form_start(editEventForm) }}
            {{ form_widget(editEventForm) }}
            {{ form_end(editEventForm) }}
        </div>
    </div>
{% endblock %}
