{% extends 'base.html.twig' %}

{% block title %}Détail d'un évènement{% endblock %}

{% block body %}

<h1>Modifier l'événement</h1>

{{ form_start(editEventForm) }}
    {{ form_widget(editEventForm) }}
<button type="submit">Sauvegarder les modifications</button>
{{ form_end(editEventForm) }}

{% endblock %}
