{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<div style="backdrop-filter: blur(10px); margin-left: 25%; padding-bottom: 2%; margin-right: 25%; border-radius: 5px;  border: 1px solid whitesmoke">
    <div class="form-container text-left" style="color: black">
        <div class="form-card">
            <h1>Inscription</h1>

        {% if registrationForm.vars.errors|length > 0 %}
            <div class="alert">
                {{ form_errors(registrationForm) }}
            </div>
        {% endif %}

            {{ form_start(registrationForm) }}

            {{ form_widget(registrationForm) }}

            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
