{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Si un compte est associé à votre adresse e-mail, un message contenant un lien de réinitialisation de mot de passe vient de vous être envoyé. Ce lien expirera dans une heure.

         {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d’e-mail, vérifiez votre dossier de courriers indésirables ou  <a href="{{ path('app_forgot_password_request') }}">réessayez.</a>.</p>
{% endblock %}
