body {
    background-color: skyblue;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem;
}

/*.container {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/* Style pour les labels à droite */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form-control {
    flex: 1;
    max-width: 60%;
}

.form-label {
    text-align: right;
    margin-left: 15px;
    margin-bottom: 0;
    flex: 1;
}

/* Centrage du formulaire */
.form-container {
    max-width: 600px;
    margin: 0 auto;
}

/* Cadre avec ombre portée */
.form-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-top: 30px;
}

#map {
    width: 100%;
    height: 100px; /* Ajuste selon ton design */
}

.autocomplete-list {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    margin-left: 100px;
    padding: 0;
    list-style-type: none;
}

.autocomplete-list li {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.autocomplete-list li:hover {
    background-color: #f0f0f0;
}
