body {
    background-color: skyblue;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem;
}

container {
    display: flex;
    align-items: center;
    justify-content: center;
}

contained {
    justify-content: center;
    width: 50%;
}