<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmation d'inscription</title>
</head>
<body>
<h2>Bienvenue sur notre site !</h2>
<p>Veuillez cliquer sur le lien ci-dessous pour confirmer votre inscription :</p>
<a href="{{ 'http://127.0.0.1:8000/confirm/' ~ token }}">Confirmer mon compte</a>
</body>
</html>
