<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmation d'inscription</title>
</head>
<body>
<h2>Bonjour {{ user.username  }}</h2>
<p>Veuillez cliquer sur le lien ci-dessous pour confirmer votre inscription :</p>
<a href="{{ absolute_url(path('app_confirm', {token: token }))}}">Confirmer mon compte</a>
</body>
</html>
